{% extends 'base.html.twig' %}

{% block title %}
    {{ event.title }} - Event Details
{% endblock %}

{% block body %}

    <div class="event-detail-wrapper">

        <div class="event-detail-top">
            <h2>{{ event.title|upper }}</h2>
            <h2>{{ event.datetimeStart|date("d/m/Y H:i") }}</h2>
        </div>

        <div class="event-detail-main">
            <p class="event-detail-description">
                {{ event.description}}
            </p>

            <figure class="event-img">
                <img src="{{ asset( event.image ) }}" alt="">
            </figure>
        </div>

        <div class="event-detail-bottom">
            {#<div class="event-detail-users">
                <h3><i class="fa-solid fa-user"></i> {{ event.user_int }} users interested</h3>
                <h3><i class="fa-solid fa-user"></i> {{ event.user_registered }} user registered</h3>
            </div>#}

            <div class="btns">
                <a class="btn event-detail-btn">Join</a>
                <a class="btn btn-secondary-detail event-detail-btn" href="">Share <i class="fa-solid fa-share-nodes"></i></a>
                <a class="btn btn-secondary-detail event-detail-btn" href="{{ path(name = 'event_new', parameters = {id: event.id}) }}">Edit <i class="fa-solid fa-pen-to-square"></i></a>
            </div>
        </div>

    </div>

{% endblock %}

