{% extends 'base.html.twig' %}

{% block title %}
    {{ event.title }} - Event Details
{% endblock %}

{% block body %}

    <div class="event-wrapper">

        <div class="event-top">
            <h2>{{ event.title|upper }}</h2>
            <h2>{{ event.datetimeStart|date("d/m/Y H:i") }}</h2>
        </div>

        <div class="event-main">
            <p class="event-description">
                {{ event.description}}
            </p>

            <figure class="event-img">
                <img src="{{ asset( event.image ) }}" alt="">
            </figure>
        </div>

        <div class="event-bottom">
            {#<div class="event-users">
                <h3><i class="fa-solid fa-user"></i> {{ event.user_int }} users interested</h3>
                <h3><i class="fa-solid fa-user"></i> {{ event.user_registered }} user registered</h3>
            </div>#}

            <div class="event-btns">
                <button class="btn btn-primary">Join</button>
                <a class="btn btn-secondary" href="">Share <i class="fa-solid fa-share-nodes"></i></a>
            </div>
        </div>
    </div>

{% endblock %}

