{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_errors(registrationForm) }}

    <div class="form-wrapper">

        <h1>Register</h1>

        <a class="login-with-google-btn submit" href="{{ path('connect_google')}}">Continue with Google</a>

        {{ form_start(registrationForm) }}

            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <input type="submit" class="submit" value="Register">
        {{ form_end(registrationForm) }}

        <p>Already have an account? <a class="link" href="{{ path('app_login') }}">login here</a></p>
    </div>
{% endblock %}
