<footer>

    <div id="footer-main">
        <img id="footer-logo" src="{{ asset('img/logos/logo-futevent.png') }}" alt="FutEvent Logo">

        <div id="footer-lists">

            <div class="footer-list">
                <h3>SITEMAP</h3>
                <ul class="links footer-links">
                    <li><a class="link" href="{{ path('default_home') }}">Home</a></li>
                    <li><a class="link" href="{{ path('category_list') }}">Categories</a></li>
                    {% if app.user %}
                        <li><a class="link" href="">Profile</a></li>
                        <li><a class="link" href="{{ path('app_logout') }}">Logout</a></li>
                    {% else %}
                        <li><a class="link" href="{{ path('app_login') }}">Login</a></li>
                        <li><a class="link" href="{{ path('app_register') }}">Sign In</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="footer-list">
                <h3>SOCIALS</h3>
                <ul class="links footer-links">
                    <li><a class="link" href="">Linkedin</a></li>
                    <li><a class="link" href="">Instagram</a></li>
                    <li><a class="link" href="">Twitter</a></li>
                    <li><a class="link" href="">Facebook</a></li>
                </ul>
            </div>

            <div class="footer-list">
                <h3>OFFICE</h3>
                <ul class="links footer-links">
                    <li>11 rue de la Haye 67200 Schiltigheim</li>
                    <li>contact@futevent.com</li>
                    <li>+33.1.23.45.67.89</li>
                </ul>


            </div>

        </div>
    </div>

    <p>© 2025 FutEvent. All Rights reserved.</p>

</footer>
