<header>
    <nav>
        <a href="{{ path('default_home') }}"><img src="{{ asset('img/logos/logo-futevent-line.png') }}" alt="FutEvent Logo" id="logo"></a>
        <ul class="links">
            <li><a class="link" href="{{ path('default_home') }}">Home</a></li>
            <li><a class="link" href="{{ path('category_list') }}">Categories</a></li>
            <li><a class="link" href="{#{{ path('user_profile') }}#}">Profile</a></li>
            <li><a class="link" href="">Login</a></li>
            <li><a class="link" href="{{ path('app_register') }}">Sign In</a></li>
        </ul>
    </nav>
</header>
