{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ category.name }}</h1>

    <div class="search-wrapper">
        <form class="search-form" action="" method="post">
            <label>
                <input type="text" name="query" placeholder="Search...">
            </label>
            <button class="search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>

    <div class="events-list">
        {% for event in category.events %}
            <div class="event">
                <figure class="event-list-img">
                    <img src="{{ asset( event.image ) }}" alt="">
                </figure>
                <div class="event-list-text">
                    <div class="event-list-title">
                        <h2>{{ event.title }}</h2>
                        <p>{{ event.datetimeStart|date("d/m/Y H:i") }}</p>
                    </div>
                    <p class="event-list-description">
                        {{ event.description }}
                    </p>
                </div>
                {#<div class="event-list-users">
                    <h3><i class="fa-solid fa-user"></i> {{ event.user_int }} users interested</h3>
                    <h3><i class="fa-solid fa-user"></i> {{ event.user_registered }} user registered</h3>
                </div>#}
                <div class="event-list-btns">
                    <button class="btn list-btn btn-primary">Join</button>
                    <a href="{{ path(name = 'event_show', parameters = {title: event.title, id: event.id}) }}">See more <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        {% else %}
            <p>No events found in this category.</p>
        {% endfor %}

    </div>

{% endblock %}

{% block title %}
{% endblock %}

